
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #f8c2db;
    font-family:"Manrope", serif ;
}
.profile-card{
    background-color: white;
    margin: 100px auto;
    width: 350px;
    height: 430px;
    box-shadow: inset -6px -6px 9px rgba(0,0,0,0.1),
    10px 10px 10px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #de3163;
}
.picture{
    width: 100px;
    height:100px;
    border-radius: 50%;
}
h2{
margin-top: -10px;
}
button{
    background: #de3163;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border: none;
    transition: all 1s linear;
}
button:hover{
    opacity: 0.5;
}
p{
    text-align: center;
}
.buttons{
display: flex;
gap: 20px;
margin-top: -10px;
}
@media (max-width:450px){
    .profile-card{
        max-width: 80%;
       max-height: 80%;
    text-align: center;
    font-size: 10px;
    line-height: 26px;
    }
    button{
max-width: 70px;
max-height: 30px;
margin-top: -8px;
    }
    .buttons{
        gap: 10px;
    }
}